$anthias-purple-1: #182176;
$anthias-purple-2: #1a1e48;
$anthias-purple-3: #3712ec;
$anthias-purple-4: #D4CCD7;
$anthias-yellow-1: #d68813;
$anthias-yellow-2: #ffa600;
$anthias-yellow-3: #c08739;
$anthias-yellow-4: #ffd3a3;

$anthias-yellow-gradient: linear-gradient(133.73deg, $anthias-yellow-1, $anthias-yellow-2);
